@import "../../variables.scss";

$list-width: 100%;
$list-width-large: 40%;

.skills-container {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.skills-list {

  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: $max-width-mobile) {
  .skills-list {
    width: $list-width-large;
  }

  .skills-container {
    flex-direction: row;
  }
}
