<div class="section-header">
  <h2>{{title}}</h2>
  <span>Desarrollador web fullstack / Android</span>
</div>
<div class="profile">
  <p class="profile-resume">
    Hola, soy un desarrollador de software localizado en Perú. Me he especializado
    en el desarrollo de aplicaciones web con Angular Framework y aplicaciones móviles
    para el sistemas operativo Android.
  </p>
  <img class="profile-pic" src="assets/profile-4593404_1920.jpg" />
  <app-personal-information class="profile-data"></app-personal-information>
</div>

