@import "../../variables.scss";

.contact-container {
  background-color: $main-brand-color;
  color: white;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
