@import "./variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: $font-stack;
  margin: $body-margin;

  h1, h2, h3, h4 {
    font-family: $font-main;
    color: $primary-color;
    font-weight: $font-weight;
  }

  .sections-container {
    display: flex;
    flex-direction: column;
    padding: $section-padding;
    row-gap: $section-gap;
    background-color: $background-color;
  }
}

.icon {
  color: $primary-color;
}

.img-icon {
  height: 20px;
}
