@import "./variables.scss";

//Added by Amgular Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Global styles
body {
  font-family: $font-stack, "Helvetica Neue", sans-serif;
  margin: $body-margin;

  h1, h2, h3, h4 {
    font-family: $font-main, $font-stack, "Helvetica Neue", sans-serif;
    color: $dark-shades;
    font-weight: $font-weight;
    margin: 0 0 16px;
  }

  h2 {
    font-size: $h2-size;
  }

  h3 {
    font-size: $h3-size;
  }

  .sections-container {
    display: flex;
    flex-direction: column;
  }

  .section {
    padding: $section-padding;
    background-color: $light-shades;
  }

  @media screen and (min-width: $max-width-mobile) {
    .section {
      padding: $section-padding $section-padding-large;
    }
  }

  .section-alternative {
    background-color: $alternative-shades;

    h2, h3 {
      color: $dark-accent;
    }
  }

  .section-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $section-header-padding;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: $section-header-margin;
  }
}

.footer {
  color: $light-shades;

  h2 {
    color: $light-shades;
    font-size: $h2-size;
    font-weight: $font-weight;
  }
}

.icon {
  color: $main-brand-color;
}

.img-icon {
  height: 20px;
}
