@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Schema from coolors.co
$st-patricks-blue: #392d71ff;
$nyanza: #d4f2dbff;
$mellow-apricot: #f4b266ff;
$red-pigment: #ed1c24ff;
$feldgrau: #5b6c5dff;

//Schema from colormind.io
$sisal: #d4d0bd;
$gulf-stream: #71a5b0;
$san-marino: #4554b5;
$steel-grey: #1f1c29;

//Asign schema
$light-shades: $sisal;
$light-accent: $gulf-stream;
$main-brand-color: $st-patricks-blue;
$dark-accent: $san-marino;
$dark-shades: $steel-grey;

//fonts
$font-stack: 'Roboto';
$font-main: 'Open Sans';
$font-weight: 100;
$h2-size: 3em;

//dimens
$body-margin: 0;
$section-padding: 5vw;
$section-padding-large: 15vw;

//media
$max-width-mobile: 800px;
$min-width-desktop: 1000px;
