@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-azul-aciano: #6495ed;
$color-azul-majorelle: #5564eb;
$color-ceil: #92a1cf;
$color-lapislazuli: #26619c;
$color-azul-sanpatricio: #23297a;
$color-azul-mar: #006994;
$color-azul-zafiro: #0067a5;
$color-zafiro: #0f52ba;
$color-azul-han: #446ccf;
$color-azul-ultramarino: #4166f5;
$color-turquesa: #5dc1b9;
$color-platino: #e5e4e2;
$color-plata: #c0c0c0;
$color-caliz-plata: #acacac;

$primary-color: $color-azul-ultramarino;
$background-color: $color-platino;
$secundary-color: #212121;

$font-stack: 'Roboto';
$font-main: 'Open Sans';
$font-weight: 100;

$body-margin: 0;
$section-padding: 10vw;
$section-gap: 5vw;

$card-background: white;
$card-padding: 5vw;

$image: 'assets/motorcycle-3234599_1920.jpg';
