@import "../../variables.scss";

$height: 100vh;
$home-font-color: white;
$home-font-weight: 800;

@mixin background-color($color, $opacity: 0.7) {
    background-color: $color;
    background-color: rgba($color, $opacity);
}


.home {
  @include background-color($primary-color, 0.7);
  height: $height;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $home-font-color;

  h1 {
    color: $home-font-color;
    font-weight: $home-font-weight;
    border-style: dashed;
    border-bottom-color: aliceblue;
    font-size: 3em;
    padding: 20px;
  }

  p {
    font-size: 1.5em;
  }
}
