@import "../../variables.scss";

$height: 100vh;
$home-font-color: white;
$home-font-weight: 800;


.home {
  background-color:$primary-color;
  height: $height;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $home-font-color;

  h1 {
    color: $home-font-color;
    font-weight: $home-font-weight;
  }
}
