@import "../../variables.scss";

$height: 100vh;
$home-font-color: white;
$home-font-weight: 700;

@mixin background-color($color, $opacity: 0.7) {
    background-color: $color;
    background-color: rgba($color, $opacity);
}


.home {
  @include background-color($main-brand-color, 0.8);
  height: $height;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $home-font-color;

  h1 {
    color: $home-font-color;
    font-weight: $home-font-weight;
    font-family: $font-main;
    border-bottom-style:inset;
    border-bottom-width: 1px;
    border-bottom-color: white;
    font-size: 3em;
    padding-bottom: 7vh;
  }

  p {
    font-size: 1.5em;
    font-weight: 100;
    padding-top: 2vh;
  }

  @media screen and (min-width: $min-width-desktop) {
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 2em;
    }
  }
}
